<h1>Testing Routing</h1>
<nav>
  <ul>
      <li> <a class= "button" routerLink="/purchases" routerLinkActive="active" ariaCurrentWhenActive="page">Make a purchase</a> </li>
      <li> <a routerLink="/sale" routerLinkActive="active" ariaCurrentWhenActive="page">Make a sale</a></li>
      <li> <a class= "button" routerLink="/complaint" routerLinkActive="active" ariaCurrentWhenActive="page">Make a Complaint</a></li>
      <li> <a class= "button" routerLink="/complaint-all" routerLinkActive="active" ariaCurrentWhenActive="page">Generate all Complaints</a></li>
  </ul>

</nav>
<router-outlet> </router-outlet>
