<div class="container">
    <h1>Record a card sale</h1>
    <form #salesForm="ngForm" (ngSubmit)="onSubmit()">
        <div class = "form-group">
            <label for="buyer_id">buyer_id</label><br>
            <input type="text" name = "buyer_id" class="sale" ngModel>
        </div>
        <pre></pre>
        <div class = "form-group">
            <label for="card_id">card_id</label><br>
            <input type="text" name = "card_id" class="sale" ngModel>
        </div>
        <pre></pre>
        <div class = "form-group">
            <label for="profit">profit</label><br>
            <input type="text" name = "profit" class="sale" ngModel>
        </div>
        <pre></pre>
        <div class = "form-group">
            <label for="quantity">quantity</label><br>
            <input type="text" name = "quantity" class="sale" ngModel>
        </div>
        <pre></pre>
        <button class="btn btn-primary" type="submit">onSubmit</button>
    </form>
